.banner {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-row {
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: space-between;
    clip-path: polygon(100% 0, 100% 85%, 67% 90%, 0 99%, 0 50%, 0% 0%);
    background-color: #f1c40f;
    background: cover;
}

.banner-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}

.banner_text {
    text-align: left;
    margin-left: 40px;

}

.banner_text h1 {
    font-weight: 900;
    margin-bottom: 20px;
}

.banner_text p {
    font-size: 18px;
    font-weight: 200;
}

.banner_text button {
    background-color: black;
    color: white;
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
}

/* .banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.banner-right img {
    width: 100%;
    /* margin-bottom: 90px; */
}